.mood-button {
  display: inline-block;
  margin: 2%;
  padding: 10px 10px;
  font-size: 12px;
  font-weight: bold;
  color: black;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #0000;
  border-radius: 30%;
  width: 8em;
  height: 3.5em;
  transition: transform 0.2s ease-in-out; /* Add transition for smooth animation */
}

.mood-button:hover {
  transform: translateY(-17px); /* Move button up slightly */
}
.enraged {
  background-color: #ff0000;
}
.panicked {
  background-color: #ff3333;
}
.stressed {
  background-color: #ff6666;
}
.jittery {
  background-color: #ff9999;
}
.shocked {
  background-color: #ffcccc;
}
.surprised {
  background-color: #fff176;
}
.upbeat {
  background-color: #ffeb3b;
}
.festive {
  background-color: #f4d03f;
}
.exhilarated {
  background-color: #ffc107;
}
.ecstatic {
  background-color: #ff9800;
}
.livid {
  background-color: #ff0000;
}
.furious {
  background-color: #ff3333;
}
.frustrated {
  background-color: #ff6666;
}
.tense {
  background-color: #ff9999;
}
.stunned {
  background-color: #ffcccc;
}
.hyper {
  background-color: #fff176;
}
.cheerful {
  background-color: #ffeb3b;
}
.motivated {
  background-color: #f4d03f;
}
.inspired {
  background-color: #ffc107;
}
.elated {
  background-color: #ff9800;
}
.fuming {
  background-color: #ff0000;
}
.frightened {
  background-color: #ff3333;
}
.angry {
  background-color: #ff6666;
}
.nervous {
  background-color: #ff9999;
}
.restless {
  background-color: #ffcccc;
}
.energized {
  background-color: #fff176;
}
.lively {
  background-color: #ffeb3b;
}
.enthusiastic {
  background-color: #f4d03f;
}
.optimistic {
  background-color: #ffc107;
}
.excited {
  background-color: #ff9800;
}
.anxious {
  background-color: #ff0000;
}
.apprehensive {
  background-color: #ff3333;
}
.worried {
  background-color: #ff6666;
}
.irritated {
  background-color: #ff9999;
}
.annoyed {
  background-color: #ffcccc;
}
.pleased {
  background-color: #fff176;
}
.happy {
  background-color: #ffeb3b;
}
.focused {
  background-color: #f4d03f;
}
.proud {
  background-color: #ffc107;
}
.thrilled {
  background-color: #ff9800;
}
.repulsed {
  background-color: #ff0000;
}
.troubled {
  background-color: #ff3333;
}
.concerned {
  background-color: #ff6666;
}
.uneasy {
  background-color: #ff9999;
}
.peeved {
  background-color: #ffcccc;
}
.pleasant {
  background-color: #fff176;
}
.joyful {
  background-color: #ffeb3b;
}
.hopeful {
  background-color: #f4d03f;
}
.playful {
  background-color: #ffc107;
}
.blissful {
  background-color: #ff9800;
}
.disgusted {
  background-color: #0000ff;
}
.glum {
  background-color: #3333ff;
}
.disappointed {
  background-color: #6666ff;
}
.down {
  background-color: #9999ff;
}
.apathetic {
  background-color: #ccccff;
}
.at-ease {
  background-color: #ccffcc;
}
.easygoing {
  background-color: #99ff99;
}
.content {
  background-color: #66ff66;
}
.loving {
  background-color: #33ff33;
}
.fulfilled {
  background-color: #00ff00;
}
.pessimistic {
  background-color: #0000ff;
}
.morose {
  background-color: #3333ff;
}
.discouraged {
  background-color: #6666ff;
}
.sad {
  background-color: #9999ff;
}
.bored {
  background-color: #ccccff;
}
.calm {
  background-color: #ccffcc;
}
.secure {
  background-color: #99ff99;
}
.satisfied {
  background-color: #66ff66;
}
.grateful {
  background-color: #33ff33;
}
.touched {
  background-color: #00ff00;
}
.alienated {
  background-color: #0000ff;
}
.miserable {
  background-color: #3333ff;
}
.lonely {
  background-color: #6666ff;
}
.disheartened {
  background-color: #9999ff;
}
.tired {
  background-color: #ccccff;
}
.relaxed {
  background-color: #ccffcc;
}
.chill {
  background-color: #99ff99;
}
.restful {
  background-color: #66ff66;
}
.blessed {
  background-color: #33ff33;
}
.balanced {
  background-color: #00ff00;
}
.despondent {
  background-color: #0000ff;
}
.depressed {
  background-color: #3333ff;
}
.sullen {
  background-color: #6666ff;
}
.exhausted {
  background-color: #9999ff;
}
.fatigued {
  background-color: #ccccff;
}
.mellow {
  background-color: #ccffcc;
}
.thoughtful {
  background-color: #99ff99;
}
.peaceful {
  background-color: #66ff66;
}
.comfy {
  background-color: #33ff33;
}
.carefree {
  background-color: #00ff00;
}
.despair {
  background-color: #0000ff;
}
.hopeless {
  background-color: #3333ff;
}
.desolate {
  background-color: #6666ff;
}
.spent {
  background-color: #9999ff;
}
.drained {
  background-color: #ccccff;
}
.sleepy {
  background-color: #ccffcc;
}
.complacent {
  background-color: #99ff99;
}
.tranquil {
  background-color: #66ff66;
}
.cozy {
  background-color: #33ff33;
}
.serene {
  background-color: #00ff00;
}

.history-entry {
  border: 1px solid #e0e0e0;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.history-entry h3 {
  font-size: 16px; /* Set the font size to be consistent with other text */
  margin: 0 0 5px 0;
}

.history-entry p {
  font-size: 16px; /* Set the font size to be consistent with other text */
  margin: 2px 0;
}
